<div class="index-title">
  <h3> Find the perfect sitter for your pet! </h3>
</div>

<div class="container d-flex">
  <div class="cards mt-5">
    <% @profile_sitters.each do |profile_sitter| %>
    <div class="card-result-sitter" style="width: 18rem;">
      <div class="card-img-top" style="background-image: url('https://source.unsplash.com/YozNeHM8MaA'); background-size: cover;">
      </div>
      <div class="card-body">
        <h5 class="card-result-sitter-title"><%= profile_sitter.user.first_name %> <%= profile_sitter.user.last_name %></h5>
        <p class="card-result- sitter-text"> <%= profile_sitter.description %></p>
        <%= link_to "See more", profile_sitter_path(profile_sitter), class:"btn-sitter" %>
      </div>
    </div>
    <% end  %>
  </div>

  <div class="container-map mt-5 mx-5">
      <h1>bientot une map</h1>
  </div>
</div>
<p class="p-3"><%= link_to "New availability", new_profile_sitter_path, class:'btn-booking' %></p>
