<div class="card-container m-5 h-25 d-flex">
  <div class="form-card p-5 h-25">
    <%= simple_form_for([@profile_sitter]) do |f| %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit class:'btn-booking'%>
    <% end %>
  </div>
</div>
