<div class="container">
  <%# ---- Titre ---- %>
  <div id='booking-title'>
  <% if params["type"] == "sitter" %>
    <h1>My requests</h1>
    <h4><%= pluralize @bookings.size, 'pet owner'%> booked you!</h4>
    <% if @bookings.size == 0 %>
      <p><%= link_to 'Add an availibility!', new_profile_sitter_path, class: "btn btn-ghost top-card" %></p>
    <% end %>
  <% else %>
    <h1>My demands</h1>
    <h4>You booked <%= pluralize @bookings.size, 'sitter'%>!</h4>
    <% if @bookings.size == 0 %>
      <p><%= link_to 'Check sitters available around you!', profile_sitters_path, class: "btn btn-ghost top-card" %></p>
    <% end %>
  <% end %>
  </div>
  <%# ---- Boutton Sitter et Owner ---- %>
  <div class="btn-user">
    <%= link_to "Sitter", bookings_path(type: "sitter"), class: "btn-user-status #{"active" if params["type"] == "sitter"}" %>
    <%= link_to "Owner", bookings_path, class: "btn-user-status #{"active" if params["type"] != "sitter"}" %>
  </div>
  <%# ---- image ---- %>
  <%# ---- Card bookings ---- %>
  <div class="card-container">
    <% @bookings.each do |booking| %>
      <div class="cards-category m-4">
        <% if booking.user == current_user %>
          <%# ---- Pour voir quand tu as booké un sitter ---- %>
          <% if @bookings.any? %>
            <div class="inner-card">
              <div>
                <%= cl_image_tag booking.profile_sitter.user.photo.key, class: 'avatar-large avatar-border' %>
              </div>
                <h4 class="mb-0 mt-2"><%= booking.profile_sitter.user.first_name %></h4>
            </div>
            <div class="inner-card">
              <p><%= booking.start_date.strftime('%B %d') %></p>
              <p><%= booking.end_date.strftime('%B %d') %></p>
            </div>
            <%= image_tag 'paris-map.jpg', height: 180, width: 238, id: "map" %>
            <div class="inner-card pb-3">
              <p class='mt-3'><%= booking.status %></p>
            </div>
                <%= link_to cancel_booking_path(booking), method: :patch, class: "btn-choice btn-cancel", id: 'accepts', title: 'Cancel' do %>
                  <i class="fas fa-ban"></i>
                <% end %>
          <% end %>
        <% else %>
          <%# ---- Pour voir quand tu es booké en tant que sitter ---- %>
          <% if @bookings.any? %>
            <div class="inner-card">
              <div>
                <%= cl_image_tag booking.user.photo.key, class: 'avatar-large avatar-border' %>
              </div>
              <h4 class="mb-0 mt-2"><%= booking.user.first_name %></h4>
            </div>
            <div class="inner-card">
              <p><%= booking.start_date.strftime('%B %d') %></p>
              <p><%= booking.end_date.strftime('%B %d') %></p>
            </div>
            <%= image_tag 'paris-map.jpg', height: 180, width: 238, id: "map" %>
            <div class="inner-card pb-3">
              <p class='mt-3'><%= booking.status %></p>
            </div>
            <div class="d-flex accept-decline">
              <% if booking.status == 'Pending answer' %>
                <%= link_to accepts_booking_path(booking), method: :patch, class: "btn-choice btn-accept-decline", id: 'accepts' do %>
                  <i class="fas fa-check"></i>
                <% end %>
                <%= link_to decline_booking_path(booking), method: :patch, class: "btn-choice btn-accept-decline", id: 'declines' do %>
                  <i class="fas fa-times"></i>
                <% end %>
              <% end %>
            <% if booking.status != 'Pending answer' %>
            <%= link_to cancel_booking_path(booking, type: "sitter"), method: :patch, class: "btn-choice btn-cancel", id: 'accepts', title: 'Cancel' do %>
                  <i class="fas fa-ban"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<%# <% end %>

<%# si pas de booking, rajouter une phrase qui dis 'you haven't any booking yet' %>
<%# triple bouton, quand tu cliques sur 'no anwser' ou 'decline' ou 'accepted'
 il change le status avec la string en question --> javascript %>
 <%# quand 'decline' la card se supprime de tous les bookings %>
<%# quand il clique sur 'accept' le booking est rajouté à ceux du pet owner %>
