<div class="row py-5 px-4">
  <div class="col-md-5 mx-auto w-80">
<div class="card-container">
  <div class="form-card">
    <div class="title mb-5">
      <h1>Let's book with <%= @profile_sitter.user.first_name %> !</h1>
    </div>
    <%= simple_form_for([@profile_sitter, @booking]) do |f| %>
      <div class="justify-content-center">
              <div class="mb-1">Dates</div>
            <%= f.text_field :start_date, placeholder: "From", input_html: { id: "range_start" }, data: {
          controller: "flatpickr",
          altInput: true,
          flatpickr_mode: 'range',
          flatpickr_date_format: "d/m/Y",
          flatpickr_min_date: @profile_start,
          flatpickr_max_date: @profile_end,
          flatpickr_disable: @disable_date,
        } %>
            <%= f.text_field :end_date, input_html: { id: "range_end" }, placeholder: "To", id: 'secondRangeInput' %>
        </div>
        <div class="d-flex justify-content-center">
      <%= f.button :submit, 'Book!', class:'btn-planning', style: 'margin-top: 42px;'%>
        </div>
    <% end %>
  </div>
</div>
 </div>
</div>
<%# limiter les dates a celles qui correspondent au profil sitter %>
