<h1>New booking</h1>

<% simple_form_for([@profile_sitter, @booking]) do |f| %>
  <%= f.input :profile_sitter_id %>
  <%= f.input :user_id %>
  <%= f.input :status %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
<% end %>
