<!DOCTYPE html>
<html>
  <head>
    <title>SitterOnTheWay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <link rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../../assets/images/favicon.png" type="image/png">
<link rel="icon" sizes="32x32" href="../../assets/images/favicon-32.png" type="image/png">
<link rel="icon" sizes="64x64" href="../../assets/images/favicon-64.png" type="image/png">
<link rel="icon" sizes="96x96" href="../../assets/images/favicon-96.png" type="image/png">
  </head>

  <body>
  <%= render 'shared/navbar'  %>
  <%= render 'shared/alerts' %>
    <%= yield %>
  </body>
</html>
